//@require '../../bower_components/normalize.styl/*'

//color-primary = #606c76

@require '../../bower_components/milligram-stylus/dist/milligram.styl'

$fa-font-path = "../fonts"

@require '../../bower_components/Font-Awesome-Stylus/stylus/index'

@keyframes highlight {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

input, .button
  margin-bottom: inherit !important
.button-icon
  font-size: 1.6rem !important

.disabled
	background-color: color-quaternary !important
	border: .1rem solid color-quaternary !important

.task
  //animation: highlight 0.3s

.task-item
  display: inline-block

.task-checkbox
  text-align: right

input[type='checkbox']
  margin-top: 14px !important

.complete
  text-decoration: line-through

/*.complete {
  		display: inline-block
  		position: relative
}

.complete:after {
  		content: ''
  		position: absolute
  		display: block
  		width: 115%
  		height: 1px
      margin-left: -0.1em
  		margin-top: -0.8em
  		background: black
  		transform-origin: center left
  		animation: complete 0.2s
  }

@keyframes complete {
		from {
				transform: scaleX(0)
		}
		to {
				transform: scaleX(1)
		}
}*/

.new-task
  margin-top: 30px
  margin-bottom: -18px

.datearea
  margin-bottom: 30px !important

.task-delete-button
  display: none !important

.task:hover
  .task-delete-button
    display: inline-block !important


.input-task-label
  color: color-secondary
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-size: 1em // currently ems cause chrome bug misinterpreting rems on body element
  font-weight: 300
  letter-spacing: .01em
  line-height: 1
  border-color: color-initial !important

.input-task-edit
  color: color-secondary
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-size: 1em // currently ems cause chrome bug misinterpreting rems on body element
  font-weight: 300
  letter-spacing: .01em
  line-height: 1

.task-item
  input:focus
    /*outline-color: transparent
    outline-style: none
    outline: none
    border: none
    */
    //display: inline-block !important

//.row
//  border-top: 1px solid color-secondary
